@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
/* margin mentok dari left: 100px   */
  *{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .award{
    width: 100%;
    height: 600px;
    /* background-color: #FFD8BE; */
  }

  .award-bg{
    position: absolute;
    width: 100%;
    height: 600px;
  }

  .award-container{
    position: absolute;
  }

  .award-darken{
    /* position: absolute; */
    width: 100%;
    height: 600px;
    background: #979DAD;
    mix-blend-mode: multiply;
  }

  .award-img{
    position: absolute;
    top: -492px;
    left: 730px;
    width: 200px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .award-img img{
    width: 30px;
    height: 30px;
  }

  .award-text{
    position: absolute;
    top: -489px;
    left: 800px;
    width: 300px;
    height: 403px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    font-size: 23px;
  }

  .award-title{
    position: absolute;
    width: 300px;
    top: -445px;
    left: 100px;
    font-weight: 300;
    font-size: 80px;
    text-align: justify;
    color: #F6BE9A;
  }

  .copyright{
    position: relative;
    top: 120px;
    font-weight: 400;
    font-size: 11px;
    color: #FFD8BE;
    text-align: center;
  }

  .description{
    background-color: #F0F0F0;
    width: 100%;
    height:720px;
  }

  .description-container{
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description-container img{
    width: 450px;
    height: 600px;
    margin-top: 80px;
    margin-left: 100px;
    border-radius: 25px;
  }

  .description-container p{
    width: 450px;
    margin-right: 100px;
    margin-top: 70px;
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
    color: #1E1E1E;
  }

  .explore{
    width: 143px;
    height: 147px;
    /* position: relative; */
  }

  .facebook{
    width: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  .follow{
    width: 146px;
    height: 120px;
  }

  .follow img{
    width: 21px;
    height: 21px;
  }

  .footer-bg{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 2145px;
    background-color:#1E1E1E;
  }

  .footer-desc{
    margin: 10px 0 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #F7F7F7;
  }

  .footer-desc:hover{
    color:#F92A82;
  }

  .footer-desc span{
    color:#F92A82;
  }

  .footer-link{
    color:#F7F7F7;
    font-weight: 300;
    font-size: 13px;
  }

  .footer-link:hover{
    color: #F92A82;
  }

  .footer-title{
    color: #F6BE9A;
    font-weight: 800;
    font-size: 17px;
  }

  .header {
    position: fixed;
    z-index: 10;
    background-color: #ffff;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .hero-bg{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color:#F6BE9A;
  }

  .hero-bg-img{
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero-line{
    position: absolute;
    width: 410px;
    height: 0px;
    right: 155px;
    top: 370px;
    border: 3px solid #FFFFFF;
    align-items:end;
  }

  .hero-line-diamond{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 399px;
    top: -13px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
  }

  .hero-title{
    position: absolute;
    left: 100px;
    top: 300px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 100px;
  }

  .highlight-nav {
    color: #F92A82;
  }

  .information{
    width: 170px;
    height: 120px;
  }

  .instagram{
    width: 73px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .level{
    position: relative;
    width: 600px;
    height: 147px;
    left: 565px;
    top: 75px;
    display: flex;
    align-items:baseline;
    justify-content: space-around;
  }

  .logo-black{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-black img{
    width: 160px;
    height: 54px;
  }

  .logo-white{
    top: 79px;
    left: 100px;
    width: 205px;
    height: 126px;
    position: absolute;
  }

  .logo-white img{
    width: 160px;
    height: 54px;
  }

  .logo-white p{
    margin-top: 10px;
    width: 205px;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
  }

  .logo-white span{
    color: #F6BE9A;
  }

  .member-badge{
    width: 80%;
    height: 200px;
    padding-top: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .member-container{
    text-align: center;
    width: 100%;
    height: 400px;
  }

  .member-container p{
    margin-top: 50px;
    font-weight: 600;
    font-size: 35px;
    color:black;
  }

  .nav-container{
    margin: 0 100px 0 100px;
    height: 87px;
    display: flex;
    justify-content: space-between;
  }

  .textn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    font-size: 20px;
    font-weight: 600;
  }

  .textn a{
    color: black;
  }

  .textn a:hover{
    color: #F92A82;
  }

  .youtube{
    width: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  #badge1{
    width: 200px;
    height: 100px;
  }

  #badge2{
    padding-left: 20px;
    width: 200px;
    height: 120px;
  }

  #badge3{
    width: 130px;
    height: 200px;
    padding-left: 20px;
  }

  #badge4{
    width: 300px;
    height: 200px;
  }