@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* margin mentok dari left: 100px   */
  *{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    background-color: #EDEDED;
  }

  .circle{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background: rgba(247, 247, 247, 0.5);
    text-align: center;
  }

  .contact-us{
    width: 21.875rem;
    height: 28.125rem;
    background-color: #F6BE9A;
    border-radius: 0.4375rem 0 0 0.4375rem;
  }

  .contact-info{
    width: 15.625rem;
    height: 3.125rem;
    /* background-color:bisque; */
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .contact-info p{
    width: 9.375rem;
    text-align: justify;
    font-weight: 500;
    font-size: 0.6875rem;
    color:#FFFFFF;
  }

  .contact-info span{
    color:#F92A82;
    font-weight: 800;
  }

  .copyright{
    position: relative;
    margin-top: 3%;
    font-weight: 400;
    font-size: 0.6875rem;
    color: #FFD8BE;
    text-align: center;
  }

  .explore{
    width: 9.0625rem;
    height: 9.1875rem;
  }

  .facebook{
    width: 5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4375rem;
  }

  .follow{
    width: 9.125rem;
    height: 7.5rem;
  }

  .follow img{
    width: 1.3125rem;
    height: 1.3125rem;
  }

  .form{
    margin: auto;
    margin-top: 5rem;
    width: 56.25rem;
    height: 28.125rem;
    background-color: #FFFFFF;
    border-radius: 0.4375rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-title{
    font-weight: 800;
    font-size: 1.6875rem;
    margin-left: 3.3125rem;
    margin-top: 3.125rem;
    color:black;
  }

  .form-title span{
    color:#FFFFFF;
  }

  .footer-bg{
    position: absolute;
    width: 100%;
    height: 18.75rem;
    top: 114.375rem;
    background-color:#1E1E1E;
  }

  .footer-desc{
    margin: 0.625rem 0 0.625rem 0;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #F7F7F7;
  }

  .footer-desc:hover{
    color:#F92A82;
  }

  .footer-desc span{
    color:#F92A82;
  }

  .footer-link{
    color:#F7F7F7;
    font-weight: 300;
    font-size: 0.8125rem;
  }

  .footer-link:hover{
    color: #F92A82;
  }

  .footer-title{
    color: #F6BE9A;
    font-weight: 800;
    font-size: 1.0625rem;
  }

  .header {
    position: fixed;
    z-index: 10;
    background-color: #ffff;
    box-shadow: 0px 0.125rem 0.25rem 0.1875rem rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .hero-bg{
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero-bg-img{
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero-line{
    position: absolute;
    width: 25.625rem;
    height: 0px;
    margin-left: 55%;
    margin-top: -7%;
    border: 0.1875rem solid #FFFFFF;
    align-items:end;
  }

  .hero-line-diamond{
    position: absolute;
    width: 1.5625rem;
    height: 1.5625rem;
    left: 24.9375rem;
    top: -0.8125rem;
    background-color: #FFFFFF;
    transform: rotate(45deg);
  }

  .hero-title{
    position: absolute;
    margin-left: 9%;
    margin-top: -12.5%;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 6.25rem;
  }

  .highlight-nav {
    color: #F92A82;
  }

  .information{
    width: 10.625rem;
    height: 7.5rem;
  }

  .instagram{
    width: 4.5625rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .level{
    position: relative;
    padding-top: 6.3%;
    /* top: 4.6875rem; */
    margin-right: 9%;
    margin-left: 40%;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    gap: 1rem;
  }

  .location{
    position: absolute;
    width: 3.75rem;
    height: 1.875rem;
    left: -0.625rem;
    top: 0.375rem;

  }

  .logo-black{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-black img{
    height: 3.375rem;
  }

  .logo-white{
    margin-top: 6.3%;
    /* top: 4.9375rem; */
    margin-left: 9%;
    /* margin-right: 28%; */
    /* width: 12.8125rem; */
    height: 7.875rem;
    position: absolute;
  }

  .logo-white img{
    width: 10rem;
    height: 3.375rem;
  }

  .logo-white p{
    margin-top: 0.625rem;
    width: 12.8125rem;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: justify;
  }

  .logo-white span{
    color: #F6BE9A;
  }

  .map-container{
    text-align: center;
  }

  .map-container p{
    margin-top: 6%;
    font-weight: 700;
    font-size: 4.375rem;
  }

  .map{
    margin: auto;
    margin-top: 5%;
  }

  .map iframe{
    width: 72%;
    height:31.25rem;
    border-style: groove;
  }

  .message{
    width: 26.5625rem;
    height: 6.25rem;
    margin-top: 0.9375rem;
    margin-left: 3.125rem;
    background-color: #F6BE9A;
  }

  .message textarea{
    width: 26.5625rem;
    height: 6.25rem;
    text-align: justify;
    resize: none;
    
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    background-color: white;
    border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  }

  .name-email{
    width: 26.5625rem;
    height: 2.1875rem;
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F6BE9A; */
  }

  .name-email input{
    width: 12.5rem;
    height: 2.1875rem;
    padding-left: 0.625rem;
    background-color: white;
    border: 0.0625rem solid rgba(0, 0, 0, 0.2);
    /* border-radius: 2px; */
  }

  .nav-container{
    margin: 0 9% 0 9%;
    height: 5.4375rem;
    display: flex;
    justify-content: space-between;
    min-width: 768px;
  }

  .phone-email{
    width: 1.5625rem;
    height: 1.5625rem;
    margin-top: 0.4375rem;
    margin-left: 0.0625rem;
  }

  .phone-number{
    width: 26.5625rem;
    height: 2.1875rem;
    margin-left: 3.125rem;
    margin-top: 0.9375rem;
    background-color: #F6BE9A;
  }

  .phone-number input{
    width: 26.5625rem;
    height: 2.1875rem;
    padding-left: 0.625rem;
    background-color: white;
    border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  }

  .preference{
    width: 26.5625rem;
    margin-left: 3.125rem;
    margin-top: 0.9375rem;
    font-weight: 400;
    font-size: 0.6875rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .send-button button{
    width: 3.125rem;
    height: 1.25rem;
    margin-top: 0.9375rem;
    margin-left: 3.125rem;
    background-color: #F6BE9A;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    color:#F92A82;
    font-weight: 500;
    font-size: 0.5625rem;
  }

  .send-button button:hover{
    background-color: #F92A82;
    color:#F7F7F7;
  }

  .reach-out{
    width: 34.375rem;
    height: 28.125rem;
  }

  .textn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.563rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .textn a{
    color: black;
  }

  .textn a:hover{
    color: #F92A82;
  }

  .youtube{
    width: 5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4375rem;
  }

  #email-choice{
    margin-left: 1.5625rem;
  }

  @media only screen and (max-width: 768px){
    /* CSS rules for screen width less than or equal to 768px */
    /* Add similar rules as mobile, adjust as needed */
  }
