@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
/* margin mentok dari left: 100px   */
/* font turunin 7 px buat event text */
  *{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    background-color: #EDEDED;
  }

  .copyright{
    position: relative;
    top: 120px;
    font-weight: 400;
    font-size: 11px;
    color: #FFD8BE;
    text-align: center;
  }

  .event-box{
    background-color:#F7F7F7;
    width: 830px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .event-box img{
    height: 260px;
    width: 300px;
  }

  .event-container{
    position: relative;
    width: 830px;
    height: 1175px;
    /* background-color: #F6BE9A; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .event-date{
    color: black;
    font-weight: 600;
    font-size: 27px;
  }

  .event-desc{
    width: 375px;
    height: 70px;
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    color:black;
  }

  .event-name{
    color:#F92A82;
    font-weight: 700;
    font-size: 33px;
    margin-top: 15px;
  }

  .event-text{
    height: 260px;
    width:450px;
    padding-top: 40px;
  }

  .event-time{
    margin-top: 3px;
    color: #979DAD;
    font-weight: 400;
    font-size: 14px;
  }

  .explore{
    width: 143px;
    height: 147px;
  }

  .facebook{
    width: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  .follow{
    width: 146px;
    height: 120px;
  }

  .follow img{
    width: 21px;
    height: 21px;
  }

  .footer-bg{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 2145px;
    background-color:#1E1E1E;
  }

  .footer-desc{
    margin: 10px 0 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #F7F7F7;
  }

  .footer-desc:hover{
    color:#F92A82;
  }

  .footer-desc span{
    color:#F92A82;
  }

  .footer-link{
    color:#F7F7F7;
    font-weight: 300;
    font-size: 13px;
  }

  .footer-link:hover{
    color: #F92A82;
  }

  .footer-title{
    color: #F6BE9A;
    font-weight: 800;
    font-size: 17px;
  }

  .header {
    position: fixed;
    z-index: 10;
    background-color: #ffff;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .hero-bg{
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero-bg-img{
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero-line{
    position: absolute;
    width: 410px;
    height: 0px;
    right: 155px;
    top: 370px;
    border: 3px solid #FFFFFF;
    align-items:end;
  }

  .hero-line-diamond{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 399px;
    top: -13px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
  }

  .hero-title{
    position: absolute;
    left: 100px;
    top: 300px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 100px;
  }

  .highlight-nav {
    color: #F92A82;
  }

  .information{
    width: 170px;
    height: 120px;
  }

  .instagram{
    width: 73px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .level{
    position: relative;
    width: 600px;
    height: 147px;
    left: 565px;
    top: 75px;
    display: flex;
    align-items:baseline;
    justify-content: space-around;
  }

  .logo-black{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-black img{
    width: 160px;
    height: 54px;
  }

  .logo-white{
    top: 79px;
    left: 100px;
    width: 205px;
    height: 126px;
    position: absolute;
  }

  .logo-white img{
    width: 160px;
    height: 54px;
  }

  .logo-white p{
    margin-top: 10px;
    width: 205px;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
  }

  .logo-white span{
    color: #F6BE9A;
  }

  .nav-container{
    margin: 0 100px 0 100px;
    height: 87px;
    display: flex;
    justify-content: space-between;
  }

  .newsletter-bg{
    position: relative;
    width: 830px;
    height: 200px;
    margin: auto;
    margin-top: 60px;
    background-color:#F6BE9A;
    border-radius: 7px;
  }

  .newsletter span{
    color:#F92A82;
  }

  .newsletter input{
    position: relative;
    height: 30px;
    width: 170px;
    padding-left: 10px;
    margin-top: 27px;
    margin-left: 30px;
    left: 600px;
    top: -55px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 7px;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newsletter input:focus{
    outline:none;
  }

  .newsletter-text{
    position: relative;
    padding-top: 60px;
    padding-left: 30px;
    width: 600px;
    height: 100px;
  }

  .newsletter-title{
    font-weight: 700;
    font-size: 43px;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .newsletter-subtitle{
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 3px;
  }

  .send-button button{
    position: relative;
    top: -45px;
    left: 750px;
    width: 50px;
    height: 20px;
    background: #F7F7F7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;

    color:#F92A82;
    font-weight: 500;
    font-size: 9px;
  }

  .send-button button:hover{
    background-color: #F92A82;
    color:#F7F7F7;
  }


  .textn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    font-size: 20px;
    font-weight: 600;
  }

  .textn a{
    color: black;
  }

  .textn a:hover{
    color: #F92A82;
  }

  .week{
    width: 200px;
    height: 120px;
    background-color: white;

    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    color:black;
    font-weight: 600;
    font-size: 22px;
  }

  .week:hover{
    background-color: #F92A82;
    color:#FFFFFF;
  }

  .week-container{
    position: relative;
    width: 830px;
    height: 120px;
    margin: auto;
    margin-top: 30px;
    /* background-color: #F92A82; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .youtube{
    width: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  #week4{
    color:#FFFFFF;
    background-color: #F92A82;
  }