@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
  
  *{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .carousel-container input {
    display: none;
  }

  .carousel-container figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .carousel-container figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .carousel-container figure:nth-of-type(1) {
    animation: slide-in 9s infinite;
  }
  .carousel-container figure:nth-of-type(2) {
    animation: slide-in 9s 3s infinite;
  }
  .carousel-container figure:nth-of-type(3) {
    animation: slide-in 9s 6s infinite;
  }

  .carousel-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
  }

  @keyframes slide-in {
    0%, 100% {
      opacity: 0;
      transform: translateX(100%);
    }
    33.33% {
      opacity: 1;
      transform: translateX(0);
    }
    66.66% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  .darken{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 569px;

    background: #747272;
    mix-blend-mode: multiply;
  }

  .desc-bg{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 569px;

    background: #F7F7F7;
  }

  .footer {
    position: absolute;
    z-index: 999;
    background-color: #1E1E1E;
  }

  .header {
    /* Navbar */
    position: fixed;
    z-index: 999;
    background-color: #ffff;
    /* mix-blend-mode: normal; */
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .hero{
    z-index: 2;
  }

  .hero-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero-line{
    position: absolute;
    width: 7px;
    height: 240px;
    top: 34%;
    left: 30%;
    z-index: 2;
    background-color: white;
  }

  .hero-container{
    position: absolute;
    width: 478px;
    height: 240px;
    top: 34%;
    left: 33%;
    background-color: rgba(217, 217, 217, 0.6);
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-title{
    /* position: absolute; */
    width: 400px;
    height: 200px;
    left: 5.23%;
    margin-bottom: 10px;
    margin-right: 10px;
    
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* .hero-container:hover{
    
  } */

  .highlight-nav {
    color: #F92A82;
  }

  .highlight-desc{
    color: #F6BE9A;
  }

  .home-box{
    position: absolute;
    width: 478px;
    height: 279px;
    margin-left: 166px;
    /* margin-top: 381px; */
    /* left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */

    background: rgba(217, 217, 217, 0.6);
    border-radius: 7px;
  }

  .highlight-motto{
    color: #F92A82;
  }
  
  .logo-black{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-black img{
    width: 160px;
    height: 54px;
  }

  .logo-desc{
    position: absolute;
    width: 205px;
    height: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;

    color: #F7F7F7;
  }

  .modified-jockey{
    margin-left: 6px;
  }

  .motto{
    position: absolute;
    top: 82%;
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .nav-container{
    margin: 0 100px 0 100px;
    height: 87px;
    display: flex;
    justify-content: space-between;
  }

  .stats-bg img{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 569px;
  }
  
  .textn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    font-size: 20px;
    font-weight: 600;
  }

  .textn a{
    color: black;
  }

  .textn a:hover{
    color: #F92A82;
  }
