  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
/* margin mentok dari left: 100px   */

  *{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .astroboy {
    margin: 10px;
    width: 270px;
    height: 350px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/astroboy.jpg);
  }

  .astroboy .limited-seat-container{
    display: none;
  }

  .astroboy:hover .schedule-desc{
    display: none;
  }

  .astroboy:hover .limited-seat-container{
    display: block;
  }

  .astroboy:hover{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .book-now{
    position: relative;
    width: 115px;
    height: 40px;
    margin-top: 15px;
    margin-left: 80px;
    background-color: #F92A82;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .book-now p{
    color: white;
    opacity: 1;
  }

  .carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .carousel-container input {
    display: none;
  }

  .carousel-container figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .carousel-container figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .carousel-container figure:nth-of-type(1) {
    animation: slide-in 9s infinite;
  }
  .carousel-container figure:nth-of-type(2) {
    animation: slide-in 9s 3s infinite;
  }
  .carousel-container figure:nth-of-type(3) {
    animation: slide-in 9s 6s infinite;
  }

  .carousel-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
  }

  @keyframes slide-in {
    0%, 100% {
      opacity: 0;
      transform: translateX(100%);
    }
    33.33% {
      opacity: 1;
      transform: translateX(0);
    }
    66.66% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  .copyright{
    position: relative;
    top: 120px;
    font-weight: 400;
    font-size: 11px;
    color: #FFD8BE;
    text-align: center;
  }

  .desc-bg{
    position: absolute;
    width: 100%;
    height: 580px;
    left: 0px;
    top: 569px;

    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc-title{
    position: absolute;
    top: 12%;
    left: 735px;
    font-weight: 400;
    font-size: 30px;
    color: black;
  }

  .desc-subtitle{
    position: absolute;
    top: 115px;
    left: 735px;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: #F6BE9A;
  }

  .desc-text{
    position: absolute;
    top: 180px;
    left: 735px;
    width: 360px;
    height: 280px;
    text-align: justify;
    word-wrap: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .event, .visitor, .sponsor{
    width: 80px;
    height: 80px;
    padding: 5px;
    margin: 5px;
    background: rgba(246, 190, 154, 0.95);
    border-radius: 10px;
  }

  .event img{
    position: absolute;
    width: 58px;
    height: 58px;
    margin-left: 6px;
    margin-top: 7px;
  }

  .explore{
    width: 143px;
    height: 147px;
    /* position: relative; */
  }

  .facebook{
    width: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  .follow{
    width: 146px;
    height: 120px;
  }

  .follow img{
    width: 21px;
    height: 21px;
  }

  .footer-bg{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 2145px;
    background-color:#1E1E1E;
  }

  .footer-desc{
    margin: 10px 0 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #F7F7F7;
  }

  .footer-desc:hover{
    color:#F92A82;
  }

  .footer-link{
    color:#F7F7F7;
    font-weight: 300;
    font-size: 13px;
  }

  .footer-link:hover{
    color: #F92A82;
  }

  .footer-title{
    color: #F6BE9A;
    font-weight: 800;
    font-size: 17px;
  }

  .header {
    position: fixed;
    z-index: 10;
    background-color: #ffff;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .hero{
    z-index: 2;
  }

  .hero-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero-line{
    position: absolute;
    width: 7px;
    height: 240px;
    left: -7%;
    z-index: 2;
    background-color: white;
  }

  .hero-container{
    position: absolute;
    width: 478px;
    height: 240px;
    top: 34%;
    left: 33%;
    background-color: rgba(217, 217, 217, 0.6);
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-title{
    width: 400px;
    height: 200px;
    left: 5.23%;
    margin-bottom: 10px;
    margin-right: 10px;
    
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .hero-title span:hover{
    color: black;
  }

  .highlight-nav {
    color: #F92A82;
  }

  .highlight-desc{
    color: #F6BE9A;
  }

  .home-box{
    position: absolute;
    width: 478px;
    height: 279px;
    margin-left: 166px;

    background: rgba(217, 217, 217, 0.6);
    border-radius: 7px;
  }

  .highlight-motto{
    color: #F92A82;
  }

  .icon-container{
    position: absolute;
    width: 1018px;
    height: 80px;
    /* background-color: white; */
    top: 110px;
    left: 100px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 20px;
  }

  .image{
    position: absolute;
    width: 512px;
    height: 470px;
    left: 100px;
    top: 45px;
    border-radius: 15px;
    z-index: 1;
  }

  .image-shadow{
    position: absolute;
    width: 512px;
    height: 475px;
    left: 128px;
    top: 65px;
    background: #1E1E1E;
    border-radius: 15px;
  }

  .information{
    width: 170px;
    height: 120px;
  }

  .instagram{
    width: 73px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .jrt-worship{
    width: 270px;
    height: 350px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/jrtworship.jpg);
  }

  .jrt-worship .limited-seat-container{
    display: none;
  }

  .jrt-worship:hover .schedule-desc{
    display: none;
  }

  .jrt-worship:hover .limited-seat-container{
    display: block;
  }

  .jrt-worship:hover{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .kc-goldenage{
    width: 270px;
    height: 350px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/kcgoldenage.jpg);
  }

  .kc-goldenage .limited-seat-container{
    display: none;
  }

  .kc-goldenage:hover .schedule-desc{
    display: none;
  }

  .kc-goldenage:hover .limited-seat-container{
    display: block;
  }

  .kc-goldenage:hover{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .limited-seat{
    font-weight: 400;
    font-size: 25px;
    color: white;
  }

  .limited-seat span{
    color:#F92A82;
    font-weight: 700;
  }

  .level{
    position: relative;
    width: 600px;
    height: 147px;
    left: 565px;
    top: 75px;
    display: flex;
    align-items:baseline;
    justify-content: space-around;
  }

  .limited-seat-container{
    width: 270px;
    height: 150px;
    margin-top: 200px;
    padding-top: 30px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
  }

  
  .logo-black{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-black img{
    width: 160px;
    height: 54px;
  }

  .logo-white{
    top: 79px;
    left: 100px;
    width: 205px;
    height: 126px;
    position: absolute;
  }

  .logo-white img{
    width: 160px;
    height: 54px;
  }

  .logo-white p{
    margin-top: 10px;
    width: 205px;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
  }

  .logo-white span{
    color: #F6BE9A;
  }

  .modified-jockey{
    margin-left: 6px;
  }

  .motto{
    position: absolute;
    top: 82%;
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .nav-container{
    margin: 0 100px 0 100px;
    height: 87px;
    display: flex;
    justify-content: space-between;
  }

  .num{
    position: absolute;
    margin-top: 15px;
    margin-left: 90px;
    color: white;
    font-weight: 400;
    font-size: 18px;
  }

  .plan-button{
    position: absolute;
    width: 185px;
    height: 40px;
    top: 380px;
    left:735px;
    padding-left: 10px;

    background: #F7F7F7;
    color:#F92A82;
    border: 1px solid #F92A82;
    border-radius: 7px;
    display: flex;
    align-items: center;
    text-align: center;    
    
  }

  .plan-button:hover{
    color:#F7F7F7;
    background: #F92A82;
    border-radius: 7px;
  }

  .plan-button:hover img{
    content: url(assets/background-removed/arrowwhite.png);
  }

  .plan-button p{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
  }
  
  .plan-button img{
    width: 20px;
    height: 10px;
  }

  .schedule-bg{
    position: absolute;
    top: 1445px;
    background-color: #f0f0f0;
    width: 100%;
    height: 700px;
    z-index: 1;
  }

  .schedule-bg p{
    text-align: center;
  }

  .schedule-container{
    width: 1198px;
    height: 456px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0 0 30px;
  }

  .schedule-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 75px;
  }

  .schedule-subtitle{
    font-size: 35px;
    font-weight: 400;
    color: #F92A82;
    margin-top: 20px;
  }

  .schedule-desc{
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 290px;
  }

  .sponsor img{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-top: 9px;
  }

  .stats-bg{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 1145px;
    color: black;
    
    align-items: center;
    justify-content: center;
  }

  .stat-desc{
    position: absolute;
    margin-top: 40px;
    margin-left: 90px;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  .stats-image{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0;
  }

  .stats-bg-darken{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0;

    background: #747272;
    mix-blend-mode: multiply;
  }
  
  .textn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    font-size: 20px;
    font-weight: 600;
  }

  .textn a{
    color: black;
  }

  .textn a:hover{
    color: #F92A82;
  }

  .visitor img{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 1px;
    margin-top: 2px;
  }

  .youtube{
    width: 80px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }