@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* margin mentok dari left: 6.25rem   */
  *{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    background-color: #EDEDED;
  }

  .benefit-check{
    position: relative;
    width: 1.125rem;
    height: 12.375rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .benefit-container{
    position: relative;
    width: 13.125rem;
    height: 12.5rem;
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    display: flex;
    justify-content: space-between;
  }

  .benefit-container img{
    position: relative;
    width: 0.9375rem;
    height: 0.9375rem;
  }

  .benefit-text{
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.9375rem;
  }

  .book-now{
    width: 6.875rem;
    height: 2.8125rem;
    margin: auto;
    margin-top: 2.8125rem;
    background: #F6BE9A;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 0.9375rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.8125rem;
    transition: 0.7s ease;
  }

  .copyright{
    position: relative;
    margin-top: 3%;
    font-weight: 400;
    font-size: 0.6875rem;
    color: #FFD8BE;
    text-align: center;
  }

  .explore{
    width: 9.0625rem;
    height: 9.1875rem;
  }

  .facebook{
    width: 5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4375rem;
  }

  .follow{
    width: 9.125rem;
    height: 7.5rem;
  }

  .follow img{
    width: 1.3125rem;
    height: 1.3125rem;
  }

  .footer-bg{
    position: absolute;
    width: 100%;
    height: 18.75rem;
    top: 70.3125rem;
    background-color:#1E1E1E;
  }

  .footer-desc{
    margin: 0.625rem 0 0.625rem 0;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #F7F7F7;
  }

  .footer-desc:hover{
    color:#F92A82;
  }

  .footer-desc span{
    color:#F92A82;
  }

  .footer-link{
    color:#F7F7F7;
    font-weight: 300;
    font-size: 0.8125rem;
  }

  .footer-link:hover{
    color: #F92A82;
  }

  .footer-title{
    color: #F6BE9A;
    font-weight: 800;
    font-size: 1.0625rem;
  }

  .hamburger{
    position: absolute;
    top: 2.1rem;
    right: 9%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.3rem;
  }

  .hamburger .bar{
    border-radius: 0.2rem;
    width: 100%;
    height: 0.2rem;
    background-color: #1E1E1E;
  }

  .header {
    position: fixed;
    z-index: 10;
    background-color: #ffff;
    box-shadow: 0px 0.125rem 0.25rem 0.1875rem rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .hero-bg{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color:#F6BE9A;
  }

  .hero-bg-img{
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .hero-line{
    position: absolute;
    width: 25.625rem;
    height: 0px;
    margin-left: 55%;
    /* right: 9.6875rem; */
    margin-top: -7%;
    /* top: 23.125rem; */
    border: 0.1875rem solid #FFFFFF;
    align-items:end;
  }

  .hero-line-diamond{
    position: absolute;
    width: 1.5625rem;
    height: 1.5625rem;
    left: 24.9375rem;
    top: -0.8125rem;
    background-color: #FFFFFF;
    transform: rotate(45deg);
  }

  .hero-title{
    position: absolute;
    margin-left: 9%;
    margin-top: -12.5%;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 6.25rem;
  }

  .information{
    width: 10.625rem;
    height: 7.5rem;
  }

  .instagram{
    width: 4.5625rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .level{
    position: relative;
    padding-top: 6.3%;
    /* top: 4.6875rem; */
    margin-right: 9%;
    margin-left: 40%;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    gap: 1rem;
  }

  .logo-black{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
  }

  .logo-black img{
    height: 3.375rem;
  }

  .logo-white{
    margin-top: 6.3%;
    /* top: 4.9375rem; */
    margin-left: 9%;
    height: 7.875rem;
    position: absolute;
  }

  .logo-white img{
    width: 10rem;
    height: 3.375rem;
  }

  .logo-white p{
    margin-top: 0.625rem;
    width: 12.8125rem;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: justify;
  }

  .logo-white span{
    color: #F6BE9A;
  }

  .nav-container{
    margin: 0 9% 0 9%;
    height: 5.4375rem;
    display: flex;
    justify-content: space-between;
    /* min-width: 768px; */
  }

  .price{
    height: 34.375rem;
    /* width: 18.75rem; */
    background-color: #FFFFFF;
  }

  .price:hover .price-tag{
    background-color: #F92A82;
  }

  .price:hover .price-num{
    color:#F92A82;
  }

  .price:hover .book-now{
    background-color: #F92A82;
  }

  .price-container{
    position: relative;
    height: 34.375rem;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 3.75rem;
    /* gap: 1.3rem; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: 920px; */
  }

  .price-num{
    font-weight: 600;
    font-size: 1.875rem;
    color:#F6BE9A;
    text-align: center;
    margin: auto;
    margin-top: 2.1875rem;
    transition: 0.7s ease;
  }

  .price-tag{
    width: 18.75rem;
    height: 5.625rem;
    background-color: #F6BE9A;
    text-align: center;
    transition: 0.7s ease;
  }

  .price-tag p{
    font-weight: 800;
    font-size: 1.4375rem;
    line-height: 5.9375rem;
    text-align: center;
  }

  .textn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.563rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .text{
    color: black;
    transition: 0.15s ease;
  }

  .text:hover{
    color: #F92A82;
  }

  .text span{
    color:#F92A82;
  }


  .youtube{
    width: 5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4375rem;
  }

  @media only screen and (max-width: 768px){

    .hamburger{
      display: flex;
    }

    .textn{
      display: none;
      width: 30%;
      justify-content: space-around;
      flex-direction: column;
      background-color: #FFFFFF;
      margin-left: 70%;
      margin-top: -3%;
      padding-bottom: 3%;
    }

    .text{
      text-align: center;
      flex-direction: column;
      width: 100%;
      background-color: #FFFFFF;
    }

    .nav-container{
      flex-direction: column;
      align-items: flex-start;
      margin: 0 7% 0 7%;
    }

    .nav-container img{
      margin-top: 10%;
    }

    .benefit-check{
      height: 7.9rem;
    }

    .benefit-container{
      position: relative;
      /* width: 10.125rem; */
      width: 60%;
      height: 8.5rem;
      margin-top: 3.125rem;
      margin: auto;
      margin-top: 1.7rem;
    }

    .benefit-text{
      height: 8rem;
      font-size: 0.8rem;
    }

    .book-now{
      margin: auto;
      margin-top: 6%;
      margin-bottom: 6.5%;
      border-radius: 0.8rem;
      font-size: 0.8375rem;
    }

    .copyright{
      font-size: 0.65rem;
      margin-top: 10%;
    }

    .footer-bg{
      top: 101.8rem;
    }

    .footer-desc{
      font-size: 0.8rem;
    }

    .footer-link{
      font-size: 0.8rem;
    }

    .footer-title{
      font-size: 0.99rem;
    }

    .hero-line{
      margin-top: -11%;
      width: 12.625rem;
    }
  
    .hero-line-diamond{
      width: 1rem;
      height: 1rem;
      left: 12.5rem;
      top: -0.5125rem;
    }
  
    .hero-title{
      margin-top: -18%;
      font-size: 4.75rem;
    }  

    .logo-white img{
      width: 9rem;
      height: 3rem;
    }

    .logo-white p{
      font-size: 0.78rem;
      width: 10rem;
    }

    .price-container{
      flex-direction: column;
      gap: 5%;
      margin: auto;
      margin-top: 5%;
      min-width: none;
    }

    .price-num{
      font-size: 1.475rem;
      margin: auto;
      margin-top: 1.5rem;
    }

    .price-tag{
      width: 18rem;
      height: 4.625rem;
    }

    .price-tag p {
      font-size: 1.3375rem;
      line-height: 4.9375rem;
    }

    .textn{
      gap:2rem;
      font-size: 0.9rem;
    }
  }